@model MplProject.Models.CompanyDTO

@{
    Layout = "~/Views/Shared/_DashboardPartialView.cshtml";
}

                    <div class="container">
                        <div class="table-wrapper">
                            <div class="table-title">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <h2>Manage <b>Company</b></h2>
                                    </div>
                                    <div class="col-sm-6">
                                        <a href="#addEmployeeModal" class="btn btn-success" data-toggle="modal"><i class="material-icons">&#xE147;</i> <span>Add New Company</span></a>
                                        <a href="#deleteEmployeeModal" class="btn btn-danger" data-toggle="modal"><i class="material-icons">&#xE15C;</i> <span>Delete</span></a>
                                    </div>
                                </div>
                            </div>
                            <table class="table table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th>
                                            <span class="custom-checkbox">
                                                <input type="checkbox" id="selectAll">
                                                <label for="selectAll"></label>
                                            </span>
                                        </th>
                                        <th>Id</th>
                                        <th>Name</th>
                                        <th>Address</th>
                                        <th>Email</th>
                                        <th>Phone</th>
                                    </tr>
                                </thead>
                                <tbody id="SetCompanyList">
                                    <tr id="LoadingStatus"></tr>

                                    @foreach(var a in Model.companyList)
                                    {
                                        <tr>
                                            <td>
                                                <span class="custom-checkbox">
                                                    <input type="checkbox" id="checkbox1" name="options[]" value="1">
                                                    <label for="checkbox1"></label>
                                                </span>
                                            </td>
                                            <td>@a.company_id</td>
                                            <td>@a.company_name</td>
                                            <td>@a.email</td>
                                            <td>@a.address</td>
                                            <td>@a.contact_no</td>
                                            <td>
                                                <a href="#editEmployeeModal" class="edit" onclick="edit({'id':'@a.company_id','name':'@a.company_name', 'email' : '@a.email' , 'address' : '@a.address', 'phone' : '@a.contact_no'})" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></a>
                                                <a href="#deleteEmployeeModal" onclick="del(@a.company_id)" class="delete" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a>
                                            </td>
                                        </tr>
                                    }

                                </tbody>
                            </table>
                            <div class="clearfix">
                                <div class="hint-text">Showing <b>5</b> out of <b>25</b> entries</div>
                                <ul class="pagination">
                                    <li class="page-item disabled"><a href="#">Previous</a></li>
                                    <li class="page-item"><a href="#" class="page-link">1</a></li>
                                    <li class="page-item"><a href="#" class="page-link">2</a></li>
                                    <li class="page-item active"><a href="#" class="page-link">3</a></li>
                                    <li class="page-item"><a href="#" class="page-link">4</a></li>
                                    <li class="page-item"><a href="#" class="page-link">5</a></li>
                                    <li class="page-item"><a href="#" class="page-link">Next</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- Add Modal HTML -->
                    <div id="addEmployeeModal" class="modal fade">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                @using (Html.BeginForm("AddCompany", "Company", FormMethod.Post))
                                {
                                    <div class="modal-header">
                                        <h4 class="modal-title">Add Company</h4>
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="form-group">
                                            <label>Name</label>
                                            @Html.TextBoxFor(model => model.companyData.company_name, new { @class = "form-control" })
                                        </div>
                                        <div class="form-group">
                                            <label>Email</label>
                                            @Html.TextBoxFor(model => model.companyData.email, new { @class = "form-control" })
                                        </div>
                                        <div class="form-group">
                                            <label>Address</label>
                                            @Html.TextBoxFor(model => model.companyData.address, new { @class = "form-control" })
                                        </div>
                                        <div class="form-group">
                                            <label>Phone</label>
                                            @Html.TextBoxFor(model => model.companyData.contact_no, new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                                        <input type="submit" class="btn btn-success" value="Add">
                                    </div>
            }
        </div>
    </div>
</div>
                    <!-- Edit Modal HTML -->
                    <div id="editEmployeeModal" class="modal fade">
                        <div class="modal-dialog">
                            <div class="modal-content">
                               @using (Html.BeginForm("EditCompany", "Company", FormMethod.Post))
                               {
                                @Html.HttpMethodOverride(HttpVerbs.Put)
                                <div class="modal-header">
                                    <h4 class="modal-title"> Edit Company</h4>
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                </div>
                                    <div class="modal-body">
                                            <div class="form-group">
                                                <label>Id</label>
                                                <input type="text" class="form-control" id="cid" />
                                            </div>
                                            <div class="form-group">
                                                <label>Name</label>
                                                @Html.TextBoxFor(model => model.companyData.company_name, new { @class = "form-control", id = "cname" })
                                            </div>
                                            <div class="form-group">
                                                <label>Email</label>
                                                @Html.TextBoxFor(model => model.companyData.email, new { @class = "form-control", id = "cemail" })
                                            </div>
                                            <div class="form-group">
                                                <label>Address</label>
                                                @Html.TextBoxFor(model => model.companyData.address, new { @class = "form-control", id = "caddress" })
                                            </div>
                                            <div class="form-group">
                                                <label>Phone</label>
                                                @Html.TextBoxFor(model => model.companyData.contact_no, new { @class = "form-control", id = "ccontact" })
                                            </div>
                                        </div>
                                    <div class="modal-footer">
                                        <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                                        <input type="submit" class="btn btn-info" value="Save">
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                    <!-- Delete Modal HTML -->
                    <div id="deleteEmployeeModal" class="modal fade">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                @using (Html.BeginForm("DeleteCompany", "Company", FormMethod.Post))
                                {
                                    @Html.HttpMethodOverride(HttpVerbs.Delete);
                                    

                                    <div class="modal-header">
                                        <h4 class="modal-title">Delete Company</h4>
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    </div>
                                    <div class="modal-body">
                                        <p>Are you sure you want to delete these Records?</p>
                                        <p class="text-warning"><small>This action cannot be undone.</small></p>
                                    </div>
                                    <input name="id" id="id_del" class="form-control" />
                                    <div class="modal-footer">
                                        <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                                        <input type="submit" class="btn btn-danger" value="Delete">
                                    </div>
                                }
                            </div>
                        </div>
                    </div>

<script>
            function del(a)
            {
                document.getElementById("id_del").value = a;

            }
            function edit(data)
            {

                document.getElementById("cid").value = data.id;
                document.getElementById("cname").value = data.name;
                document.getElementById("cemail").value = data.email;
                document.getElementById("caddress").value = data.address;
                document.getElementById("ccontact").value = data.phone;


            }
</script>

